<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %> 
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    <body>

        <div id="app-box">
            
            <h1>TODO APP</h1>
            
            <form action="/create-to-do" method="POST">
                
                <div id="first-container">
                    <label for="description">DESCRIPTION</label><br>
                    <input type="text" id="description"  placeholder="What do you need to do?" name="Description" required>
                </div>
                
                <div id="second-container">
                    <label for="category">CATEGORY</label><br>
                    <select id="category" name="Category">
                        <option value="none" selected>Choose the category</option>
                        <option value="Home">Home</option>
                        <option value="Work">Work</option>
                        <option value="Personal">Personal</option>
                        <option value="School">School</option>
                    </select>
                </div>
                
                <div id="third-container" name="Date">
                    <label for="date">DUE DATE</label><br>
                    <input type="date" id="date" name="Date" required>
                </div>
                
                <div id="fourth-container">
                    <button type="submit" ><i class="fas fa-plus"></i> ADD TASK</button>
                </div>
            </form>
            
            <div class="container-fluid" >
                <% for(let i of list) {%> 
                <div class="row" id="task-container">
                    <div class="col-8" id="description-container">
                        <%= i.Description %> <br>
                        <span><i class="fas fa-calendar"></i> &nbsp;<%= i.Date.toDateString() %> </span>
                    </div>
                    <div class="col-2" id="category-container">
                        <% if(i.Category=='Home'){ %> 
                            <div id="list-category" class="yellow">
                                <%= i.Category %> 
                            </div>
                        <% } %>
                        <% if(i.Category=='Work'){ %> 
                            <div id="list-category" class="purple">
                                <%= i.Category %> 
                            </div>
                        <% } %>
                        <% if(i.Category=='Personal'){ %> 
                            <div id="list-category" class="blue">
                                <%= i.Category %> 
                            </div>
                        <% } %>
                        <% if(i.Category=='School'){ %> 
                            <div id="list-category" class="orange">
                                <%= i.Category %> 
                            </div>
                        <% } %> 
                    </div>
                    <div class="col-2" id="close-option"><a href="/delete-todo?id=<%= i._id %>"><i class="fas fa-times"></i></a></div>
                </div>
                <% } %> 
            </div>
        </div>

        

         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

         <!-- Popper JS -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
         
    </body>
</html>